<h1><%= @user.name %></h1><br>

<% if logged_in? %>
  <%= link_to "Create New Deck", new_deck_path %>
  <p></p>
  <%= form_tag "/users/#{@user.id}", method: "delete" do %>
  <%= submit_tag "delete player" %>
  <% end %>
<% end %>

<% @user.decks.each do |deck| %>
<%= link_to deck.name, deck_path(deck)  %><br />
  <% deck.cards.each do |card| %>
  <%= link_to card.name, card_path(card) %>
  <% end %>
<% end %>
