<h1><%= @user.name %></h1><br>

<% if logged_in? && authenticate?%>
  <%= link_to "Create New Deck", new_deck_path %>
  <p></p>
      <%= form_tag "/users/#{@user.id}", method: "delete" do %>
      <%= submit_tag "delete player" %>
    <% end %>
<% end %>

<% @user.decks.each_with_index do |deck, index| %>
<h2><%= link_to deck.name, deck_path(deck)  %></h2><br />
<% end %>
