<div class="row">
  <div class="col-md-4"><%= form_tag search_result_path, method: "get" do %>
    <p>Search for a card by name:  <%= text_field_tag :query%>
       <%= submit_tag "Search"%></p>
    <% end %>
  </div>
  <div class="col-md-4"><%= form_tag search_type_path, method: "get" do %>
    <p>Search for a card by type:  <%= text_field_tag :query%>
       <%= submit_tag "Search"%></p>
    <% end %>
  </div>
  <div class="col-md-4"><%= form_tag search_color_path, method: "get" do %>
    <p>Search for a card by color:  <%= text_field_tag :query%>
       <%= submit_tag "Search"%></p>
    <% end %>
  </div>
</div>

<br />
<h2><% if flash[:results] %>
  <%= flash[:results] %>
<% end %>
</h2>

<ul>
  <% @cards.sort_by{ |card| card.name}.each do |card|  %>
    <li><%= link_to card.name, card_path(card) %></li>
  <% end.sort %>
</ul>
