<div class="alert alert-danger" role="alert">
  <h1> <%= flash[:message]%>
  </h1>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-1"><h1>Card Info</h1></div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="text-right">
      <% unless !@card.image_url? %>
        <%= image_tag @card.image_url %>
        <% else %>
        <br />
        <h2>
          Sorry, no image available
        </h2>
      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <h3>Name : <%= @card.name %></h3>
    <h3>Card type: <%= @card.cardtype %></h3>
      <% if @card.color.present? %>
      <h3>Card colors:
      <%= @card.color.gsub(/[\[\]\"]/, "") %>
      </h3>
      <% else %>
      <h3>Card colors:
        None
      </h3>
      <% end %>

    <%if logged_in? && authenticate? %>
      <%= form_for @deck_card do |f| %>
      <p>
        Add card to: <%= f.collection_select :deck_id, @user.decks.order('name asc'), :id, :name %>
        <%= f.hidden_field :card_id, value: @card.id %>
        <br />
        How many: <%= number_field_tag :quantity, 1, min: 1 %>
      </p>
      <%= f.submit "ADD", class: "btn btn-primary"%>
      <% end %>
      <% @user.cards.each do |card| %>
          <% if card.id == @card.id %>
          <%= form_for @card, method: :delete do |f| %>
          <p>
            Delete card from: <%= f.collection_select :decks, @user.decks.order('name asc'), :id, :name %><br />
          </p>
          <%= f.submit "REMOVE", :data => {:confirm => "Are you sure you want to delete #{@card.name}?"}, class: "btn btn-primary"%>
          <% end %>
            <% end %>
          <% end %>
    <% end %>
  </div>
</div>
