
<br />

<h1>Card Info</h1>

<% unless !@card.image_url? %>
  <%= image_tag @card.image_url %>
  <% end %>


<%if logged_in?  %>
  <%= form_for @card, method: :patch do |f| %>
  <p>
    Add card to: <%= f.collection_select :decks, @user.decks.order('name asc'), :id, :name %><br />
  </p>
  <%= f.submit "ADD", class: "btn btn-primary"%>
  <% end %>
<% end %>

<%if logged_in?  %>
  <%= form_for @card, method: :delete do |f| %>
  <p>
    Delete card from: <%= f.collection_select :decks, @user.decks.order('name asc'), :id, :name %><br />
  </p>
  <%= f.submit "REMOVE", :data => {:confirm => "Are you sure you want to delete #{@card.name}?"}, class: "btn btn-primary"%>
  <% end %>
<% end %>
