<% if session[:id] == @deck.user.id %>
  <div class="row">
    <div class="col-sm-9">
      <h1><%= @deck.name %></h1>
      <div class="row">
        <div class="col-xs-8 col-sm-6">
          <h2><%= link_to "View and add cards to deck", cards_path, class: "btn btn-primary" %></h2>
        </div>
        <div class="col-xs-4 col-sm-6">
      <h2><%= link_to 'Delete this deck', delete_deck_path, method: 'delete', :data =>{:confirm =>'Are you SURE??'}, class: "btn btn-primary" %></h2>
        </div>
      </div>
    </div>
  </div>
    <h2><%= @deck.cards.count %> total cards</h2>
  <% else %>
      <h1><%= @deck.name %></h1>
      <h2><%= @deck.cards.count %> total cards</h2>
  <% end %>
  <%= form_tag sample_path(@deck.id), method: :get do %>
  <%= submit_tag "Simulate your starting 7 cards" %>
  <% end %>


  <% if @sample %>
  <% @sample.each do |card| %>
  <%= image_tag card, width:"14%"%>
  <% end %>
  <% end %>

  <%= flash[:message] %>


<ul>
  <% cards_count = @deck.cards.each_with_object(Hash.new(0)) do |card, object|  %>
    <% object[card.name] += 1  %>
    <% end %>
    <% cards_count.each do |name, count| %>
      <li><%= link_to "#{count}x #{name}", Card.find_by(name: name) %></li>

    <% end %>
</ul>


<!-- button -->
